langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
sentence-transformers
faiss-cpu
chromadb
pypdf
pymupdf
numpy
scikit-learn
python-dotenv
streamlit
streamlit-google-auth